body {
  background: linear-gradient(90deg, rgba(221, 237, 250, 1) 0%, rgba(142, 202, 226, 1) 100%);
}

h1 {
  text-align: center;
}

h5 {
  font-weight: 400;
}

#myCarousel
{
    background-color: red;
}

#myCarousel img
{
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p
{
    margin-top: 15px;
    color : white;
    font-size: 20px;
}